<%- include('partials/header.ejs') %>

<div class="d-flex flex-row justify-content-center align-items-center">
  <% let postLink = `/userItems/postEdit/${item.id}` %>
  <form
    id="form"
    class="p-5 mt-5 w-25 bg-dark"
    enctype="multipart/form-data"
    action="<%= postLink %>"
    method="POST"
  >
    <div class="mb-3">
      <label for="name" class="form-label text-light">Item Name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        placeholder="item name"
        name="name"
        value="<%= item.name %>"
        required
      />
    </div>
    <div class="mb-3">
      <label for="location" class="form-label text-light">Item Location</label>
      <select id="location" name="location" class="form-select" aria-label="Default select example">
        <option value="" selected hidden disabled>Open this select menu</option>
        <option value="westbank">westbank</option>
        <option value="eastbank">eastbank</option>
        <option value="dinkytown">dinkytown</option>
        <option value="offcampus">off-campus</option>
      </select>
    </div>  
    <div class="mb-3">
      <label for="description" class="form-label text-light"
        >Item Description
        <span
          >(characters remaining: <strong><span id="counter">50</span></strong
          >)</span
        ></label
      >
      <textarea
        onkeyup="textCounter(this,'counter',50);"
        class="form-control"
        id="description"
        name="description"
        rows="3"
        maxlength="50"
        placeholder="description"
        required
      ><%= item.description %></textarea
      >
    </div>
    <div class="input-group mb-3">
      <label for="price" class="form-label w-100 text-light">Item Price</label>
      <span class="input-group-text">$</span>
      <input
        type="number"
        class="form-control"
        id="price"
        name="price"
        min="0"
        value="<%= item.price %>"
        onkeypress="return event.keyCode === 8 || event.charCode >= 48 && event.charCode <= 57"
        aria-label="Amount (to the nearest dollar)"
        required
      />
    </div>
    <div class="input-group mb-3">
      <label for="image" class="form-label w-100 text-light"
        >Change Image</label
      >
      <input
        type="file"
        class="form-control-file bg-light w-100"
        id="image"
        aria-describedby="image"
        aria-label="Upload"
        name="changed_file"
        accept="image/apng, image/avif, image/jpeg, image/png, image/svg+xml, image/webp"
      />
    </div>
    <div class="col-12">
      <button class="btn btn-primary" type="submit">Submit Edits</button>
    </div>
  </form>
</div>
<script>
  function textCounter(field, field2, maxlimit) {
    var countfield = document.getElementById(field2);
    if (field.value.length > maxlimit) {
      field.value = field.value.substring(0, maxlimit);
      return false;
    } else {
      countfield.innerText = maxlimit - field.value.length;
    }
  }
</script>
<script src="../../js/create.js"></script>
<%- include('partials/footer.ejs') %>
