<%- include('partials/header.ejs') %> <%- include('partials/searchBar.ejs') %>

<section id="items" class="mt-5 pt-4 d-flex flex-wrap">
    <% items.forEach((item)=>{ %>
        <div class="card d-inline-block mb-4 card-hover-scale itemCard">
            <a href="/item/<%= item.name %>" class="itemLink">
                <img
                    src="../<%= item.imagePath %>"
                    class="card-img-top"
                    alt="<%= item.name %>"
                />

                <div class="card-body">
                    <h5 class="card-title">$<%= item.price.toFixed(2) %></h5>
                    <p class="card-text"><%= item.name %></p>
                    <div class="d-flex flex-row align-items-center">
                        <span class="location"><%=item.location%></span>
                        <% if (user) { %> <% if (user.starred.includes(item.id)) {
                        %>
                        <input
                            id="<%= item.id %>"
                            class="star"
                            type="checkbox"
                            checked
                        />
                        <span class="card-likes"><%= item.starCount %></span>
                        <% } else { %>
                        <input id="<%= item.id %>" class="star" type="checkbox" />
                        <span class="card-likes"><%= item.starCount %></span>
                        <% } %> <% } else { %>
                        <span class="card-likes"
                            ><%= item.starCount %> <% if (item.starCount == 1) {
                            %>like<%} else {%>likes <%}%></span
                        >
                        <% } %>
                    </div>
                </div>
            </a>
        </div>
    <% }) %>
    <% if (items.length == 0) { %>
       <h2>No Items Found</h2> 
    <% } %>
</section>

<script src="../js/index.js"></script>
<%- include('partials/footer.ejs') %>
