<%- include('partials/header.ejs') %>
<!-- Navigation Bar -->
<%- include('partials/navbar.ejs') %>
<section class="mainContainer">
    <section class="small-container">
        <!-- Filter Section -->
        <section class="filter">
            <%- include('partials/filter.ejs') %>
        </section>
        <section class="results">
            <!-- Page title & Filter tags -->
            <%- include('partials/title.ejs') %>
            <!-- Items -->
            <%- include('partials/items.ejs') %>
        </section>
    </section>
</section>

<script src="../js/sell.js"></script>
<script src="../js/search.js"></script>
<script src="../js/filter.js"></script>
<%- include('partials/footer.ejs') %>
