<%- include('partials/header.ejs') %>
<%- include('partials/navbar.ejs') %>
<section class="mainContainer">
    <section class="filter">
        <%- include('partials/filter.ejs') %>
    </section>
    <section class="results">
        <%- include('partials/title.ejs') %>
        <h1 class="no-items-text">No Items Found</h1>
    </section>
</section>

<%- include('partials/footer.ejs') %>
