<%- include('partials/header.ejs') %>
<%- include('partials/searchBar.ejs') %>

<section id="items" class="mt-5 d-flex flex-wrap">
    <% items.forEach((item)=>{ %>
    <div class="card d-inline-block mb-4">
        <a href="/item/<%= item.name %>" class="itemLink">
            <p class="view">View Item</p>
            <img
                src="../<%= item.imagePath %>"
                class="card-img-top"
                alt="<%= item.name %>"
            />
        </a>
        <div class="card-body">
            <h5 class="card-title"><%= item.name %></h5>
            <p class="card-text">$<%= item.price.toFixed(2) %></p>
            <p class="card-text"><%= item.description %></p>
            <div class="d-flex flex-row align-items-center">
                <a href="#" class="contactSellerBtn btn btn-primary"
                    >Contact Seller</a
                >
                <div class="d-flex flex-row align-items-center">
                    <input
                        id="<%= item.id %>"
                        class="star"
                        type="checkbox"
                        checked
                    />
                </div>
            </div>
        </div>
    </div>
    <div
        class="modal fade"
        id="unstarModal_<%= item.id %>"
        tabindex="-1"
        role="dialog"
        aria-labelledby="unstarModalLabel"
        aria-hidden="true"
        data-bs-backdrop="static"
    >
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="unstarModalLabel">
                        Confirm Unstar
                    </h5>
                </div>
                <div class="modal-body">
                    Are you sure you want to unstar this item?
                </div>
                <div class="modal-footer">
                    <button
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal"
                        onclick="keepChecked('<%=item.id%>')"
                    >
                        Close
                    </button>
                    <button
                        type="button"
                        class="btn btn-danger"
                        onclick="unstar('<%=item.id%>')"
                    >
                        Unstar
                    </button>
                </div>
            </div>
        </div>
    </div>
    <% }) %>
</section>

<script src="../js/starred.js"></script>
<%- include('partials/footer.ejs') %>
