<%- include('partials/header.ejs') %>
<div class="filter">
    <%- include('partials/filter.ejs') %>
</div>
<div class="results">
    <%- include('partials/title.ejs') %>
    <%- include('partials/items.ejs') %>
</div>

<script src="../js/starred.js"></script>
<%- include('partials/footer.ejs') %>
