<%- include('partials/header.ejs') %>
<%- include('partials/navbar.ejs') %>

<section id="itemPage">
    <img class="itemImage" src="../<%= item.imagePath %>" alt="<%= item.name %> image">
    <section class="itemInfo">
        <div class="d-flex flex-row justify-content-between">
            <h4>Price: $<%= item.price.toFixed(2) %></h4>
            <% if (user) { if (user.saved.includes(item.id)){ %>
            <a class="bookmarkAnchor" href="javascript:void(0)">
                <svg id="<%= item.id %>" xmlns="http://www.w3.org/2000/svg" width="24" height="32" fill="currentColor" class="bi bi-bookmark-fill bookmark" viewBox="0 0 16 16">
                    <path d="M2 2v13.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2z" />
                </svg>
            </a>
            <% } else { %>
            <a class="bookmarkAnchor" href="javascript:void(0)">
                <svg id="<%= item.id %>" xmlns="http://www.w3.org/2000/svg" width="24" height="32" fill="currentColor" class="bi bi-bookmark bookmark" viewBox="0 0 16 16">
                    <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z" />
                </svg>
            </a>
            <% }} %>
        </div>
        <h1><%= item.name.toUpperCase() %></h1>
        <span class="d-flex flex-row align-items-center gap-2">
            <% if (item.location == "eastbank") { %>
                <i class="fa-solid fa-circle-arrow-right icon"></i>
            <% } else if (item.location == "westbank") { %>
                <i class="fa-solid fa-circle-arrow-left icon"></i>
            <% } else if (item.location == "dinkytown") { %>
                <i class="fa-solid fa-city icon"></i>
            <% } else if (item.location == "off-campus") { %>
                <i class="fa-solid fa-globe icon"></i>
            <% } %>
            <%= item.location %>
            </span>
    
            <span class="d-flex flex-row align-items-center gap-2">
            <% if (item.category == "textbooks") { %>
                <i class="fa-solid fa-book icon space-left"></i>
            <% } else if (item.category == "school-supplies") { %>
                <i class="fa-solid fa-pencil icon space-left"></i>
            <% } else if (item.category == "electronics") { %>
                <i class="fa-solid fa-laptop icon"></i>
            <% } else if (item.category == "furniture-appliances") { %>
                <i class="fa-solid fa-couch icon"></i>
            <% } else if (item.category == "clothing") { %>
                <i class="fa-solid fa-shirt icon"></i>
            <% } else if (item.category == "kitchenware") { %>
                <i class="fa-solid fa-utensils icon space-left"></i>
            <% } %>
            <%= item.category %>
            </span>
        
        <p>Description: <%= item.description %></p>
        <% if (user) { %>
            <section class="d-flex flex-column">
                <span>Seller: <%= seller.displayName %></span>
                <span>Contact: <%= seller.email %></span>
            </section>
            <a href="mailto:<%=seller.email%>?subject=Gopher Market Message" target="_blank"><button class="contactSellerBtn btn w-100">Contact Seller</button></a>
         <% } else { %>
            <button onclick='window.location.href="/login"' class="contactSellerBtn btn">Login to contact seller</button>
         <% } %>
    </section>
</section>

<script src="../js/sell.js"></script>
<%- include('partials/footer.ejs') %>
