<%- include('partials/header.ejs') %>
<section class="filter">
    <%- include('partials/filter.ejs') %>
</section>
<div class="results">
    <%- include('partials/title.ejs') %>
    <%- include('partials/items.ejs') %>
</div>
<script src="../js/userItems.js"></script>
<%- include('partials/footer.ejs') %>
